<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067824770093-v3nrmjdnhs72169e067vg1sq5jk13q2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067824770093-v3nrmjdnhs72169e067vg1sq5jk13q2j</string>
	<key>API_KEY</key>
	<string>AIzaSyDPH4BMe_uKBljUG_wooA-qdEDaNKuhTwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1067824770093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediappoint.mainapp</string>
	<key>PROJECT_ID</key>
	<string>medicalapp-1e076</string>
	<key>STORAGE_BUCKET</key>
	<string>medicalapp-1e076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067824770093:ios:2f27b7cd900382de699ca4</string>
</dict>
</plist>